[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "~=0.5"
watchdog = "~=0.9"
flake8 = "~=3.5"
tox = "~=3.5"
coverage = "~=4.5"
twine = "~=1.12"
pytest = "~=3.8.2"
pytest-runner = "~=4.2"
Sphinx = "~=1.8"

[packages]
gen3server = {editable = true,path = "."}

[requires]
python_version = "3.7"
